html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  background-color: #121212;
  color: #e0e0e0;
}

a {
  color: var(--accent);
}

:root {
  --accent: #00bcd4;
}
